<div class="page-header">
  <h1><span class="glyphicon glyphicon-list"></span> Lists</h1>
</div>

<ul class="list-group">
	<% @lists.each do |list| %>
	<li class="list-group-item">
		<h3 class="list-group-item-heading"><%= list.name %></h3>
		<p><%= list.description %></p>
		<%= link_to "Show List", list, { class: "btn btn-primary" } %>
	</li>
<% end %>
</ul>

<%= link_to "Create New List", new_list_path, { class: "btn btn-info" } %>